<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.epstudios.morbidmeter"
    android:versionCode="5"
    android:versionName="2.0" >

    <!-- minimum installed SDK version in my user base is 10 -->
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:previewImage="@drawable/preview" >
        <receiver
            android:name=".MorbidMeter"
            android:icon="@drawable/icon"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>

        <activity android:name=".MmConfigure" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWDIGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service android:name=".MmService" >
        </service>
    </application>

</manifest>